button.play-pause-toggle {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 25px;
  
    border-color: transparent transparent transparent white;
    cursor: pointer;
  
    /* Play state */
    border-style: solid;
    border-width: 15px 0 15px 25px;

    transition: 100ms border-style ease, 100ms border-width ease;
}

button.pause {
    border-style: double;
    border-width: 0px 0 0px 25px;
}

button.stop {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 2px;
}

button:active {
    animation: press_button 200ms;
}

/* Synthesizer controls */
div#controls {
    width: 300px;
    padding: 16px;
}

div.control-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25em;
}

select {
    background-color: var(--background);
    border: none;
}

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    border: none;
    height: .5em;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border: none;
    border-radius: 50%;
    background: var(--purple-bright);
    cursor: pointer;
    transition: 200ms background-color ease;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: var(--purple-dark);
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border: none;
    border-radius: 50%;
    background: var(--purple-bright);
    cursor: pointer;
    transition: 200ms background-color ease;
}

input[type=range]::-moz-range-thumb:hover {
    background-color: var(--purple-dark);
}

div.control-button {
    text-align: center;
}

button.control-button {
    border: none;
    padding: 8px;
    background-color: var(--background);
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms background-color ease;
}

@keyframes press_button {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

input.tempo {
    color: white;
    background: var(--background);
    border: none;
    width: fit-content;
    font-size: larger;    
    margin-left: 8px;
    padding: 8px;
    outline: none;
    text-align: center
}

/* Chrome, Safari, Edge, Opera */
input.tempo::-webkit-outer-spin-button,
input.tempo::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.tempo[type=number] {
  -moz-appearance: textfield;
}