* {
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: white;
}

body {
    background-color: var(--background);
}

main {
    width: 75%;
    margin: 128px auto;
    display: flex;
    justify-content: center;
}

main > * {
    margin: 0 16px;
}