@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #22222e;
}

main {
    color: white;
    width: 50%;
    margin-left: 25%;
    background-color: #323242;
    padding: 32px;
    border: hidden;
    border-radius: 16px;
    filter: drop-shadow(0 0 10px #121212);;
}

hr {
    margin: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
}

h1 {
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 32px;
    margin: 0;
}

h2 {
    font-family: 'Bebas Neue';
    
}

p {
    font-family: 'Open Sans';
    font-size: 16px;
}

header {
    font-family: 'Bebas Neue';
    color: white;
    text-align: center;
}

h1.header {
    font-size: 64px;
    letter-spacing: 8px;
    margin-top: 43px;
}

p.header {
    font-family: 'Bebas Neue';
    font-size: 24px;
}

a.header {
    color: #ffffff;
    transition: 0.5s;
}

a.header:hover {
    color: #8c24ed;
}