@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #22222e;
}

header {
    font-family: 'Bebas Neue';
    color: white;
    text-align: center;
}

h1.header {
    font-size: 64px;
    letter-spacing: 8px;
}

p.header {
    font-family: 'Bebas Neue';
    font-size: 32px;
}

a.header {
    color: white;
}

main {
    color: white;
    width: 70%;
    margin-left: 15%;
}

h1 {
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
}

p {
    font-family: 'Open Sans';
}