header {
    text-align: center;
}

h1.header {
    margin: 0;
}

p.header {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 32px;
}

main {
    color: white;
    font-family: 'Open Sans';
    display: block;
    width: 70%;
    margin-left: 15%;
}

a {
    color: white;
}