/* width */
::-webkit-scrollbar {
    display: block;
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00;
    height: 50px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ababab;
    border: hidden;
    border-radius: 10px;
    max-height: 50px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777777;
    max-height: 50px;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
    background: white;
}