@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --size: 24px;

    --background: #22222e;
    --panel-background: #323242;
    --panel-shadow: drop-shadow(0 0 10px #121212);

    --isPlaying: #4b4b4b;

    --sine-color: #431761;  
    --sine-active: #9c1cf1;

    --square-color: #501c1c;
    --square-active: #e00404;

    --saw-color: #18226e;
    --saw-active: #283cd4;

    --triangle-color: #106e14;
    --triangle-active: #1eeb25;
}

body {
    background-color: var(--background);
}

h1.header {
    font-family: 'Bebas Neue';
    color: white;
    text-align: center;
    font-size: 64px;
    letter-spacing: 8px;
}

main {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
}

main > div {
    margin: 16px;
}

/* Controls */

div#controls {
    background-color: var(--panel-background);
    padding: 4px;
    border: hidden;
    border-radius: 8px;
    filter: var(--panel-shadow);
    min-width: 20%;
}

button.controls {
    outline: none;
}

/* Sequencer */

div#sequencer {
    padding: 4px;
    background-color: var(--panel-background);
    border: hidden;
    border-radius: 8px;
    filter: var(--panel-shadow);
}

button.tile {
    all: unset;
    width: var(--size);
    height: var(--size);
    outline: none;
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    margin: 4px;
    cursor: pointer;
}

/*sine*/
button.tile[data-wave=sine] {
    border-color: var(--sine-active);
}

button.tile[data-wave=sine][data-activated=false] {
    background-color: var(--sine-color);
}

button.tile[data-wave=sine][data-activated=true] {
    background-color: var(--sine-active);
}

/*square*/
button.tile[data-wave=square] {
    border-color: var(--square-active);
}

button.tile[data-wave=square][data-activated=false] {
    background-color: var(--square-color);
}

button.tile[data-wave=square][data-activated=true] {
    background-color: var(--square-active);
}


/*sawtooth*/
button.tile[data-wave=sawtooth] {
    border-color: var(--saw-active);
}

button.tile[data-wave=sawtooth][data-activated=false] {
    background-color: var(--saw-color);
}

button.tile[data-wave=sawtooth][data-activated=true] {
    background-color: var(--saw-active);
}

/*triangle*/
button.tile[data-wave=triangle] {
    border-color: var(--triangle-active);
}

button.tile[data-wave=triangle][data-activated=false] {
    background-color: var(--triangle-color);
}

button.tile[data-wave=triangle][data-activated=true] {
    background-color: var(--triangle-active);
}


/*common*/

button.tile[data-isplaying=true][data-activated=false] {
    background-color: var(--isPlaying);
}

button.tile[data-isplaying=true][data-activated=true] {
    background-color: white;
}

