/* Sequencer */

div#sequencer {
    padding: 4px;
    background-color: var(--panel-background);
    border: hidden;
    border-radius: 8px;
    filter: var(--panel-shadow);
}

button.tile {
    all: unset;
    width: var(--size);
    height: var(--size);
    outline: none;
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    margin: 4px;
    cursor: pointer;
}

/*sine*/
button.tile[data-wave=sine] {
    border-color: var(--sine-active);
}

button.tile[data-wave=sine][data-activated=false] {
    background-color: var(--sine-color);
}

button.tile[data-wave=sine][data-activated=true] {
    background-color: var(--sine-active);
}

/*square*/
button.tile[data-wave=square] {
    border-color: var(--square-active);
}

button.tile[data-wave=square][data-activated=false] {
    background-color: var(--square-color);
}

button.tile[data-wave=square][data-activated=true] {
    background-color: var(--square-active);
}


/*sawtooth*/
button.tile[data-wave=sawtooth] {
    border-color: var(--saw-active);
}

button.tile[data-wave=sawtooth][data-activated=false] {
    background-color: var(--saw-color);
}

button.tile[data-wave=sawtooth][data-activated=true] {
    background-color: var(--saw-active);
}

/*triangle*/
button.tile[data-wave=triangle] {
    border-color: var(--triangle-active);
}

button.tile[data-wave=triangle][data-activated=false] {
    background-color: var(--triangle-color);
}

button.tile[data-wave=triangle][data-activated=true] {
    background-color: var(--triangle-active);
}


/*common*/

button.tile[data-isplaying=true][data-activated=false] {
    background-color: var(--isPlaying);
}

button.tile[data-isplaying=true][data-activated=true] {
    background-color: white;
}